<div class="modal-header">
    <h4 class="modal-title">Add/Edit Data</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="gstNumber" class="col-form-label">GST No. :</label>
                        <input type="text" id="gstNumber" class="form-control" formControlName="GSTNo">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="panNumber" class="col-form-label">PAN No. :</label>
                        <input type="text" id="panNumber" class="form-control" formControlName="PANNo">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="code" class="col-form-label">Code : <span class="red">*</span></label>
                        <input type="text" id="code" class="form-control" formControlName="Code">
                        <div *ngIf="(addEditForm.get('Code')?.invalid && isSubmitClicked) || (addEditForm.get('Code')?.dirty || addEditForm.get('Code')?.touched)"
                            class="red">
                            <div *ngIf="addEditForm.get('Code')?.hasError('required')">Code is required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name : <span class="red">*</span></label>
                        <input type="text" id="name" class="form-control" placeholder="Enter Name"
                            formControlName="Name">
                        <div *ngIf="(addEditForm.get('Name')?.invalid && isSubmitClicked) || (addEditForm.get('Name')?.dirty || addEditForm.get('Name')?.touched)"
                            class="red">
                            <div *ngIf="addEditForm.get('Name')?.hasError('required')">Name is required.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="address" class="col-form-label">Address :</label>
                        <textarea id="address" class="form-control" formControlName="Address"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="pincode" class="col-form-label">Pincode :</label>
                        <input type="number" id="pincode" class="form-control" placeholder="Enter Pincode"
                            formControlName="PinCode">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="country" class="col-form-label">Country :</label>
                        <select class="form-select" id="country" aria-label="Country select" formControlName="Country">
                            <option selected>Select Country</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="state" class="col-form-label">State :</label>
                        <select class="form-select" id="state" aria-label="State select" formControlName="State">
                            <option selected>Select State</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="city" class="col-form-label">City :</label>
                        <select class="form-select" id="city" aria-label="City select" formControlName="City">
                            <option selected>Select City</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="mobileNumber" class="col-form-label">Mobile No. : <span class="red">*</span></label>
                        <input type="number" id="mobileNumber" class="form-control" formControlName="Mobile">
                        <div *ngIf="(addEditForm.get('Mobile')?.errors && isSubmitClicked) || (addEditForm.get('Mobile')?.dirty || addEditForm.get('Mobile')?.touched)"
                            class="red">
                            <div *ngIf="addEditForm.get('Mobile')?.hasError('required')">Mobile is required.</div>
                            <div
                                *ngIf="(!addEditForm.get('Mobile')?.hasError('required')) && addEditForm.get('Mobile')?.hasError('invalidMobile')">
                                Mobile should have exactly 10 digits.</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email : <span class="red">*</span></label>
                        <input type="email" id="email" class="form-control" placeholder="Enter Email"
                            formControlName="Email">
                        <div *ngIf="(addEditForm.get('Email')?.invalid && isSubmitClicked) || (addEditForm.get('Email')?.dirty || addEditForm.get('Email')?.touched)"
                            class="red">
                            <div *ngIf="addEditForm.get('Email')?.hasError('required')">Email is required.</div>
                            <div *ngIf="addEditForm.get('Email')?.hasError('email')">Invalid email format.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="latitude" class="col-form-label">Latitude :</label>
                        <input type="number" id="latitude" class="form-control" placeholder="Enter Latitude"
                            formControlName="Latitude">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="longitude" class="col-form-label">Longitude :</label>
                        <input type="number" id="longitude" class="form-control" placeholder="Enter Longitude"
                            formControlName="Longitude">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="currency" class="col-form-label">Currency :</label>
                        <select class="form-select" id="currency" aria-label="Currency select">
                            <option selected>Select Currency</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <h1>Attachment</h1>
            <hr />
            <div formArrayName="ContactPersonDetails" *ngFor="let person of contactPerson.controls; let i = index">
                <div [formGroupName]="i">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="gstNumber" class="col-form-label">Name. : <span class="red">*</span></label>
                                <input type="text" id="gstNumber" class="form-control" formControlName="PersonName">
                                <div *ngIf="(person.get('PersonName')?.invalid && isSubmitClicked) ||  (person.get('PersonName')?.dirty || person.get('PersonName')?.touched)"
                                    class="red">
                                    <div *ngIf="person.get('PersonName')?.hasError('required')">Person Name is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="panNumber" class="col-form-label">Mobile. : <span
                                        class="red">*</span></label>
                                <input type="number" id="panNumber" class="form-control" formControlName="PersonMobile">
                                <div *ngIf="(person.get('PersonMobile')?.invalid && isSubmitClicked) || (person.get('PersonMobile')?.dirty || person.get('PersonMobile')?.touched)"
                                    class="red">
                                    <div *ngIf="person.get('PersonMobile')?.hasError('required')">Person Mobile is
                                        required.</div>
                                    <div
                                        *ngIf="(!person.get('PersonMobile')?.hasError('required')) && person.get('PersonMobile')?.hasError('invalidMobile')">
                                        Person Mobile should have exactly 10 digits.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="code" class="col-form-label">Email :</label>
                                <input type="email" id="code" class="form-control" formControlName="PersonEmail">
                                <div *ngIf="(person.get('PersonEmail')?.invalid && isSubmitClicked) || (person.get('PersonEmail')?.dirty || person.get('PersonEmail')?.touched)"
                                    class="red">
                                    <div *ngIf="person.get('PersonEmail')?.hasError('email')">Invalid email format.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="gstNumber" class="col-form-label">Department : <span
                                        class="red">*</span></label>
                                <input type="text" id="gstNumber" class="form-control" formControlName="Department">
                                <div *ngIf="(person.get('Department')?.invalid && isSubmitClicked) || (person.get('Department')?.dirty || person.get('Department')?.touched)"
                                    class="red">
                                    <div *ngIf="person.get('Department')?.hasError('required')">Department is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="panNumber" class="col-form-label">Designation : <span
                                        class="red">*</span></label>
                                <input type="text" id="panNumber" class="form-control" formControlName="Designation">
                                <div *ngIf="(person.get('Designation')?.invalid && isSubmitClicked) || (person.get('Designation')?.dirty || person.get('Designation')?.touched)"
                                    class="red">
                                    <div *ngIf="person.get('Designation')?.hasError('required')">Designation is
                                        required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group pt-4 right-float">
                                <button *ngIf="i === contactPerson.controls.length - 1" type="button"
                                    class="btn btn-success" (click)="addContactPerson(null)"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-plus" viewBox="0 0 16 16">
                                        <path
                                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                    </svg> Add</button>
                                <button *ngIf="1 !== contactPerson.controls.length" (click)="remove(i)"
                                    class="btn btn-danger" type="button"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="16" height="16" fill="currentColor" class="bi bi-x-circle"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path
                                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                    </svg> Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 text-center">

            <div *ngIf="contactPerson.hasError('minlength') && isSubmitClicked" class="text-danger">
                <ngb-alert type="danger" [dismissible]="false">
                    You need to provide at least 2 contact persons.
                </ngb-alert>
            </div>
            <button class="btn btn-success" type="submit"> Save</button>
            <button class="btn btn-danger" type="button" (click)="activeModal.close('Close click')"> Cancel</button>
        </div>
    </form>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close</button>
</div> -->